[Unit]
Description=Upgrade NethServer configuration from previous major release
Documentation=https://github.com/nethserver/nethserver-upgrade-tool
ConditionPathExists=/root/preupgrade
After=network-online.target
DefaultDependencies=false
Conflicts=shutdown.target
RefuseManualStart=true
RefuseManualStop=true

[Service]
Type=oneshot
ExecStart=/bin/bash /var/tmp/rename-interfaces.sh
ExecStart=/usr/bin/chmod -c +x /sbin/e-smith/nethserver-config-network
ExecStart=/sbin/e-smith/signal-event pre-restore-config
ExecStart=-/sbin/e-smith/signal-event post-restore-config
ExecStart=/usr/bin/systemctl enable shorewall.service nethserver-config-network.service
ExecStart=/bin/rm -vrf \
    /root/preupgrade \
    /var/tmp/rename-interfaces.sh \
    /etc/systemd/system/nethserver-system-upgrade.service

[Install]
WantedBy=multi-user.target
