[Unit]
Description=Upgrade NethServer configuration from previous major release
Documentation=https://github.com/nethserver/nethserver-upgrade-tool
ConditionPathExists=/root/preupgrade
After=network-online.target
DefaultDependencies=false
Conflicts=shutdown.target
RefuseManualStart=true
RefuseManualStop=true

[Service]
Type=oneshot
ExecStart=/sbin/e-smith/signal-event nethserver-system-upgrade

[Install]
WantedBy=multi-user.target
